/* background style */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background-color: #085394;
	font-family: 'balsamiq';
}

body > h1 {
	text-align: center;
	color: white;
	letter-spacing: 2px;

}

.fa-cart-plus {
	color: white;
	
}

.center {
	text-align: center;
	margin: 0 auto;
}

.listspace {
	background-color: white;
	border-radius:10px;
	margin-top:1em;
	height: 500px;
	width:500px;
	border: 2px solid black;
	margin: 0 auto;

}

.listspace > form > input {
	margin-top:2em;
}

ul {
	list-style: none;
	line-height:2em;
	padding-left:0;
}

ul > li {
	padding-left:1em;

}

.trashspace {
float:right;

}


@font-face {
	font-family: 'balsamiq';
	src: url("../fonts/BalsamiqSansRegular.ttf");
}