/* background style */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	background-color: #085394;
	font-family: 'balsamiq';
}

body > h1 {
	text-align: center;
	color: white;
	letter-spacing: 2px;

}

.fa-cart-plus {
	color: white;
	
}

.center {
	text-align: center;
	margin: 0 auto;
}

.listspace {
	background-color:rgba(244,247,248, 0.8);
	border-radius:10px;
	height: 500px;
	width:500px;
	border: 2px solid black;
	margin: 1em auto;

}

.listspace > form > input {
	margin-top:2em
}

ul {
	list-style: none;
	line-height:2em;
	padding-left:0;
}

ul > li {
	padding-left:1em;
	border: 1px solid black;
	border-radius:5px;
	background-color: white;
	width:90%;
	margin: .25em auto;
}

ul > li > span {
	float: right;
	padding-right:1em;

}
.trashspace {
/* float:right; */

}

 i.fa.fa-check-square-o.fa-2x {
	
} 


.strikethrough {
	text-decoration: line-through;
	
}


@font-face {
	font-family: 'balsamiq';
	src: url("../fonts/BalsamiqSansRegular.ttf");
}